body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#fff;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
overflow-x:hidden;
   }
/* this is navbar  */
.navbar{
    height: 70px; width:100%;
    background-color:rgba(223, 222, 222);
    color:rgb(0, 0, 0);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    box-shadow: -10px 27px 50px black;
    display: flex;
    }
.entry{
    height:700px; width:100%;
    background-image:url("pic1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
.lookfar{
    background-color: black;
    color:#fff;
    border-radius:5px;
    height:50px; width:120px;
    margin:10px 0px 5px 5px;
    padding-left:5px;
    font-size:30px;
    font-family:'Lobster Two', cursive;
    }
.com{
     color:black;
     font-size:40px;
     margin-top:10px;
    }
nav{margin:auto;
    margin-right:20%;
    position:relative;
    left:60px;
    }
nav ul{
    list-style:none;
    position: relative;
    display:flex;
    justify-content: center; 
    }
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    margin:20px;
    }
nav ul li{
    display:inline-block;
    }
nav ul ul{
    position: absolute;
    background-color:#fff;
    text-align: center;
    margin-top:5px;
    display:none;
    }
nav ul ul li{
    display:list-item;
    line-height:40px;
    text-align: center;
    float:none;
    }
nav ul li :hover{
    background-color:black;
    color:white;
    padding:5px;
    border-radius:5px;
    }
nav ul li:hover > ul {
    display:block;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
    border-radius:5px;
    }
    /* here navbar is close  */
.consultancy1{
    height: 500px;
    margin-right:17%;   
    margin-top:6%;      
    }
.intro{
    display:flex;
    justify-content: center;
    }

.introduction{font-size:60px;}

.intro1{
    height:200px; width:340px;
    margin-top:5%;
    margin-right:8%;
    }
#container{ background-color:rgb(232,232,232); }
.flex-container{ 
    display: flex;
    justify-content: center;
    height:600px; width:100%;
    }
.block{
    height:80%;
    width:40%;
    border:1px solid #ccc;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    margin:30px 20px 0px 20px;
    }
p#about{
    color:rgb(0, 0, 0);
    font-size:30px;
    text-align:center;
    padding:0px 15%;
    margin-top:-3%;
    }
#image1{
    height:222px; width:46%;
    margin-top:-40px;
    margin-left:27%;
    }
#image2{
    height:200px; width:50%;
    margin-left:20%;
    }
#image3{
    height:200px; width:50%;
    margin-left:20%;
        }
/* that section is coding for recently blog  */

#container2{    
    height:600px; width:100vw;
    background-image: url("pic/office-desk.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    }
#recent-blog{   
    display:flex;
    justify-content: space-around;
    align-items: center;
    }
#recent-blog > div{
    background-color:#fff;
    color:black;
    height:400px; width:320px;
    border-radius:8px;
    border:1px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    font-size: 14px;
    transition:all 0.5s ease 0s;
    margin-top:70px;
    }
#recent-blog > div:hover{
    background-color:black;
    color:blanchedalmond;
    transform:rotate(5deg);
    }
#container2 > h1{
    text-align: center;
    margin:0;
    }
.blog{  
    height:250px; width:300px;
    margin:10px;
    border-radius:0px 0px 0px 40px;
    }
/* this section for appointment form for those candidate who wants to contact with company */
#form-section{  
    height: 700px; width:100vw;
    background: #fff;
    }
#call{          
    margin:100px 0px 0px 100px;
    height:600px;
    float:left;
    }
#form{          
    height:500px; width:800px;
    float:left;  
    margin:50px 0px 0px 100px;
    }
/* id "form" is diffrent from class "form". id "form" is defined to contact us form , class "form" is defined 
    to where we will fill information in the blanks like name and other contact option.  */
    
.form{  text-align: center;
        font-size: 22px;
        border-radius:8px;
        border: 1px solid #ccc ;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        font-family: 'Times New Roman', Times, serif;
        }

.name{height:40px; width:250px;}            

.email{ 
        margin-top:30px;
        height:30px; width:510px;
        }
.contact{   
        height:30px; width:510px;
        margin-top:30px;
        }
.text{      
        margin-top:25px;
        box-sizing: border-box;
        line-height: 1.55em;
        padding:20px;
        }
.button{    
        background-color:black;
        color:white;
        height:50px; width:200px; 
        border-radius:10px;
        font-size:20px;
        margin-top:44px;
        float:right;
        }
.button2{   
        background-color: red;
        margin-top:-114px;
        }
/*from here coding start for footer seaction.*/
.bottom-section{
                width:100%;
                height:300px;
                background-color:#263238;
                position:relative;
                top:282vh;
                }
.container3{display:flex;
            color:white;
            text-align:center;
            justify-content:space-around;
            }
.item-1{height: 200px;
        width:30%;
        }
.item-2{display:flex;
        flex-direction: column;
        }
a.footer-links{text-decoration: none;
               color:white;
               line-height:30px;
               }